@import url('https://fonts.googleapis.com/css?family=Crimson+Pro|PT+Mono|Permanent+Marker&display=swap');

/*cleanup*/
* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

/*helpers*/
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

/*specific styles*/

body {
    font-family: 'Crimson Pro', serif;
    background-image: url('img/square_bg.png');
}

#root {
    height: 100vh;
}

header {
    width: 100%;
}

header h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    margin-left: 1vw;
}

.autocomplete {
    width: 65%;
    position: relative;
    margin-right: 1vw;
    margin-top: 3em;
}

.autocomplete input {
    width: 100%;
    height: 4em;
    border: 5px solid black;
    transform: skew(-10deg, 0);
    padding-left: 1em;
}

.autocomplete input:focus {
    outline: none;
    border-color: #f00;
}

.autocomplete .suggestions {
    position: absolute;
    right: 0;
    width: 100%;
    background-color: #fff;
    padding-bottom: 1em;
}

.autocomplete .suggestions li {
    padding: 0.5em;
    color: #666;
}

.pokemon-list {
    height: 100vh;
    overflow-y: scroll;
}

.thumb {
    width: 100px;
}

main {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

.pokemon-list li:hover {
    background-color: blanchedalmond;
    cursor: pointer;
}

.pokemon-list li div {
    padding: 1em 0;
}

.pokemon-list li h1 {
    margin: 0;
}

.pokemon-list li span {
    color: #666;
}

.pokemon-info {
    font-size: 24px;
    padding-left: 5%;
}

.pokemon-info h1 {
    text-transform: capitalize;
}

.pokemon-info .types {
    font-family: 'PT Mono', monospace;
}

.pokemon-info caption {
    text-align:left;
    font-weight: bold;
    text-decoration: underline;
}

.pokemon-info table {
    margin-bottom: 20px;
}

footer {
    font-family: 'PT Mono', monospace;
    font-size: 0.5em;
    padding: 1em;
    color: #666;
}